RewriteEngine On

ErrorDocument 404 /404.php
RewriteRule ^index$ index.html 
RewriteRule ^trang_chu trangchu.html 
RewriteRule ^99k$ 99k.html 
RewriteRule ^t99k$ t99k.html 
RewriteRule ^t199k$ t199k.html 
RewriteRule ^tranngdangnhap$ dangnhap.html 
